<!-- Landing page -->
<div class = "container text-center">
	<div class = "row">
		<div class = "col-md-4">
		
			<div class="panel-heading">State statistics, stat!</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<img src="https://cdn4.iconfinder.com/data/icons/military-strategy/512/USA_map-512.png" alt="usaMap" height="100" width="100">
						<hr>
						<form class="create-update-form" action="/" method="GET">
							<div class="input-group" id = "stateSearch">
								<input type="text" class="form-control" placeholder="Search for a state..." name = "stateName">
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit">Search</button>
								</span>
							</div>
						</form>
						<br>
						<br>
					</div>
				</div>
		</div>
		<div class = "col-md-4">
			<a href = "https://www.google.com">
				<div class="panel-heading">Taxes</div>
				<div class="panel panel-default">
					<div class="panel-body">
						<span class = "glyphicon glyphicon-piggy-bank"></span>
						<hr>
						<p>Of the two things that are certain in life, we are here to give you info on the more sinister of the two.</p>
					</div>
				</div>
			</a>
		</div>
		<div class = "col-md-4">
		<a href = "https://www.google.com">
			<div class="panel-heading">Forums</div>
			<div class="panel panel-default">
				<div class="panel-body">
				<span class = "glyphicon glyphicon-globe"></span>
				<hr>
				<p>Click here to go to a safe space where you can converse with your fellow human beings.</p>
				<br>
				</div>
			</div>
		</a>
		</div>
	</div>


<!-- <iframe width="800" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
src="https://www.govtrack.us/congress/members/embed/mapframe?&bounds=-134.241,48.577,-55.866,2.168"></iframe> -->


</div>