li.search .search-wrapper {
    margin: 0 12px;
    transition: margin .25s ease;
}

.side-nav.fixed {
	background-color:#AAAAAA;
	height
}

#slide-out {
	height:635px;
	overflow:visible;
}

.nav-link {
	width:265px;
	height:30px;
}

.stateBtn {
	background-color: #444444;
}
#stateListDOM {
	overflow: auto;
	height:500px;
	margin-top: 10px;
}

#introduction {
	height:700px;
	background:#AA00CC;
}

#stateInformation {
	height:700px;
	background:#777999;
}
