li.search .search-wrapper {
    margin: 0 12px;
    transition: margin .25s ease;
}

.side-nav.fixed {
	background-color:#AAAAAA;
}

.nav-link {
	width:285px;
	height:30px;
}

.stateBtn {
	background-color: #444444;
}

#nav-mobile {
	overflow: auto;
	height:500px;
}