li.search .search-wrapper {
    margin: 0 12px;
    transition: margin .25s ease;
}

.side-nav.fixed {
	background-color:#AAAAAA;
	height
}

#slide-out {
	height:660px;
	overflow:visible;
}

.nav-link {
	width:265px;
	height:30px;
}

.stateBtn_css {
	background-color: #444444;
}
#stateListDOM {
	overflow: auto;
	height:420px;
	margin-top: 10px;
}

#stateInformation {
	background:#777999;
}

#aboutUs {
	background:#AAAAAA;
}

#rightNavWrapper {
}

#rightNav {
	width:100px;
}

/*For the Scrollspy, from http://codepen.io/kmmbvnr/pen/XNXVaY */
/*for 1366 x 766 */

a.active {
  background-color: #ea454b;
}

#intro {
  height: 100px;
}

/*For mediumSize, margin Top works here */
#introduction {
  background-color: #CCCCCC;
  margin-top:65px;
}

#badges {
  background-color: yellow;
}

#aboutUs {
  background-color: green;
}

.mediumSize {
	height:636px;
	width:1049px;
}

/* Take time one day to do sizing for all different screen sizes */
/*This one works for my screen, 1366 x 766*/
#mainCol {
	margin-top:-100px;
	margin-left:-63px;
}

.panelContent {
	padding:20px 20px 20px 20px;
}

.headerText {
	font-weight: bold;
	text-decoration: underline;
}
